body,
h1,
p,
a {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background-color: #93B1A6;
  font-family: Tahoma, sans-serif;
}

.h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.para {
  text-align: center;
  font-size: 18px;
  color: FBFADA;
  margin-top: 10px;
}

.mini-card {
  display: flex;
  align-items: center;
  background-color: #fff8e8;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s, transform 0.2s;
}

.mini-card:hover {
  background-color: #183D3D;
  color: #ffffff;
  transform: scale(1.05);
}

.icon {
  margin-right: 10px;
  font-size: 24px;
}

.title {
  text-align: center;
}