<!DOCTYPE html>
<html>
    <head>
        <title> DWMT </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div class="split left">
            <header>
                <h1> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Dark Web Monitoring</h1>
            </header>
            <div class="image-container">
                <img src="{{ url_for('static', filename='css/dark-web.png') }}" width="200" height="200"/>
            </div>
        </div>        
        <main class="split right">
            <div>
                <br><br><br><br>
                <h2>About the tool</h2>
                <p>Keep track of your dark web stuff in one place </p>
            </div>
            <div>
                <form method="POST" action="{{ url_for('main') }}">
                    <button type="submit">Get Started</button>
                </form>
            </div>
        </main>
    </body>
</html>